// APLICANDO SASS
$primary-color:linear-gradient(rgb(202, 247, 202), white);
$secondary-color:#9fee94;
$terciary-color: white;
$font-color: black;
$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
$limit: 10;
$unit: 8px;
$background-color: #b9ffb0;
$bold: white;
$color: black;
@function size($value) {
    @return $value * $unit;
}
@mixin global {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin btn($background-color, $bold, $color) {
    background-color: $secondary-color;
    color: $font-color;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    @if($bold=="true") {
        font-weight: bolder;
    }
}
* {
    @include global;
    box-sizing: border-box;
}

body {
    background-image: $primary-color;
    font-family: "Sofia", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
header {
    padding: 100px;
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
    background-image: url(../img/bodaheader3.jpg);
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    .a {
        @include btn($background-color,
        $bold: "true", $color: $secondary-color);
        font-weight: normal;
        &:hover {
            @include btn ($secondary-color,
            $terciary-color,
            "false");
            box-shadow: $box-shadow;
            font-weight: normal;
        }
    }
}
// LOGO HEADER
#logo{
    float:left;
    width: 40%;
    padding-right: 15%; 
 }
// CONTENIDO
main {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-image: url(../img/fondo.jpg);
    padding: $box-shadow;
    padding-left: 10px;
    padding-right: 10px;
}
// BOTONES, DISPOSICION Y ESTILO
ul {
    @include global;
    list-style: none;
    display: flex;
    gap: 20px;
    li {
        display: inline-flex;
        a {
            @include btn($background-color,
            $bold: "true", $color: $secondary-color);
            font-weight: normal;
        text-decoration: none;
            &:hover {
                @include btn ($secondary-color,
                $terciary-color,
                "false");
                box-shadow: $box-shadow;
                font-weight: normal;
            }
        }
    }
}
footer {
    padding: 100px;
    width: 
    100%;
    margin-top: 20px;
    display: inline-flex;
    background-image: url(../img/lineas-abstractas-onda-suave-verde_1017-24872.jpg);
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    .a {
        @include btn($background-color,
        $bold: "true", $color: $secondary-color);
        font-weight: normal;
        &:hover {
            @include btn ($secondary-color,
            $terciary-color,
            "false");
            box-shadow: $box-shadow;
            font-weight: normal;
        }
    }
}
// RESPONSIVE

@media screen and (max-width: 1220px) { 
    .flex-container{ 
        max-width: 1200px;
        padding: 0 20px;
    }
    header .flex-container{
        height: 600px;
    }
    }

@media screen and (max-width: 1120px) { 
 .flex-container{
    max-width: 1200px;
    padding: 0 20px;
}
header .flex-container{
    height: 600px;
}}
@media screen and (max-width: 520px) { 
 header .flex-container{
    width: 100%;
    left: 0;
    color: honeydew;
    overflow: hidden ;
 }

 #logo{
     margin-left: 50px;
 }

.flex-container ul li a{
    width: 0%;
    padding:0% ;
}
.vestidos-contenedor{
height: min-content;}
.flex-container .none{
    display: none;
}
}
@media screen and (max-width: 1020px) { 
    header .flex-container{
        width: 100%;
        left: 0;
        overflow: hidden ;
        height: min-content;
     }
     .flex-container ul li a{
        width: 0%;
        padding:0% ;
    }
     #logo{
         margin-left: 50px;
     }
    
    .flex-container ul li a{
        width: 0%;
        padding:0% ;
    }
    .vestidos-contenedor{
    height: min-content;}

    .flex-container .none{
        display: none;
    }
    
}
@media screen and (max-width: 800px) { 
    header .flex-container{
        width: 100%;
        left: 0;
        overflow: hidden ;
        height: min-content;
     }
     .flex-container ul li a{
        width: 0%;
        padding:0% ;
    }
     #logo{
         margin-left: 50px;
     }
    
    .flex-container ul li a{
        width: 0%;
        padding:0% ;
    }
    .vestidos-contenedor{
    height: min-content;}

    .flex-container .none{
        display: none;
    }
    
}

