#body {
    overflow-x: hidden;
    background-image: linear-gradient(rgb(202, 247, 202), white);
}

header {
    height: 280px;
    background: white;
    border-color: black;
    border: 1000px;
    background-color: palevioletred;
    background-image: url("../img/bodaHeader2.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

footer {
    height: 260px;
    background: white;
    border-color: black;
    background-size: auto;
    margin-top: 10px;
    background-image: linear-gradient(rgb(202, 247, 202), white);
}

#redes {
    display: inline-flex;
    padding-right: 3px;
    display: flex;
    color: black;
    font-size: 24px;
    position: top;
    float: right;
    height: 50px;
}

main {
    background-image: linear-gradient(rgb(202, 247, 202), white);
}

#item .item-a {
    background-color: linear-gradient(rgb(165, 224, 165), white);
    padding: 4px;
    border-radius: inherit;
    border-color: rgb(128, 182, 21);
    border: 2px solid #4CAF50;
    margin-bottom: 20px;
    text-decoration: none;
    /* APLICACION DE ANIMACION Y TRANSFORMACION */
    cursor: grabbing;
    display: grid;
    margin-top: 60px;
    grid-template-columns: 30% 30% 30%;
    width: 35%;
}